
.errorPatient {
  color: red;
}

.containerForm {
  display: flex;
  justify-content: center;
}
.elementForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.formPatient {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.labelForm {
  font-size: 20px;
  font-weight: bold;
}
.titrePage {
  justify-content: center;
  display: flex;
}