.containerInfosPatientPage {
  padding: 20px;
}

.infoPatient-medecinRef {
  display: flex;
  justify-content: space-evenly;
}

.noteList {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.infosNote {
    margin-right: 50px;
  width: 300px;
}

.containerNomPrenomMedecin {
  display: flex;
  flex-direction: row;
}

.noteEcrite {
  width: 600px;
  white-space: pre-line;
}