.containerInfosPatientPage {
  padding: 20px;
}

.infoPatient-medecinRef {
  display: flex;
  justify-content: space-evenly;
}

.containerNomPrenomMedecin {
  display: flex;
  flex-direction: row;
}

.noteEcrite {
  width: 600px;
  white-space: pre-line;
}

.listeNote {
  margin: 15px;
  display: flex;
}

.infosNote {
  margin-right: 50px;
  width: 200px;
}